@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 2.1rem;
}

img:not(.logo) {
  display: block;
  width: 100%;
}

@media (min-width: 950px) {
  .wrapper {
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
}

.wrapper .right {
  display: none;
  background-image: url(/images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 950px) {
  .wrapper .right {
    display: block;
  }
}

.left {
  height: 100%;
}

@media (min-width: 950px) {
  .left {
    background: url(/images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 25%;
  }
}

.left-content {
  height: 100%;
  display: grid;
  grid-template-rows: 80px auto;
}

@media (max-height: 650px) {
  .left-content {
    gap: 2rem;
  }
}

@media (min-width: 950px) {
  .left-content {
    grid-template-rows: 15vh calc(100vh - 15vh);
    grid-template-columns: 30rem;
    justify-content: center;
  }
}

@media (min-width: 1800px) {
  .left-content {
    grid-template-columns: 50%;
  }
}

.left header {
  display: grid;
  align-content: center;
  padding-left: 2rem;
}

@media (min-width: 950px) {
  .left header {
    padding-left: 0;
    align-content: flex-end;
  }
}

.left header .logo {
  width: 6rem;
}

@media (min-width: 950px) {
  .left header .logo {
    width: 10rem;
  }
}

@media (min-width: 1800px) {
  .left header .logo {
    width: 10vw;
  }
}

.left .hero {
  text-align: center;
}

@media (min-width: 950px) {
  .left .hero {
    text-align: left;
    align-self: center;
  }
}

@media (min-width: 950px) {
  .left .hero .mobile-img {
    display: none;
  }
}

.left .hero-text {
  padding: 4rem 1.5rem;
  max-width: 45ch;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .left .hero-text {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1800px) {
  .left .hero-text {
    font-size: 2vw;
    max-width: unset;
  }
}

.left .hero-text h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.2;
}

.left .hero-text h1 span {
  font-weight: 300;
  color: #ce9797;
}

@media (min-width: 800px) {
  .left .hero-text h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1800px) {
  .left .hero-text h1 {
    font-size: 4vw;
  }
}

.left .hero-text p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #ce9797;
  font-size: 0.875rem;
}

@media (min-width: 800px) {
  .left .hero-text p {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    line-height: 1.6;
  }
}

@media (min-width: 1800px) {
  .left .hero-text p {
    font-size: 1.5vw;
  }
}

.left .hero-text form .form-content {
  position: relative;
}

.left .hero-text form .form-content input {
  width: 100%;
  border-radius: 100px;
  padding: 1.25rem 1rem;
  color: rgba(65, 58, 58, 0.431);
  border-color: rgba(65, 58, 58, 0.198);
}

@media (min-width: 800px) {
  .left .hero-text form .form-content input {
    font-size: 1.2rem;
  }
}

.left .hero-text form .form-content button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.85rem 2.5rem;
  border-radius: 50px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: transparent;
  cursor: pointer;
}

.left .hero-text form .form-content button:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, white, #fff5f5);
  border-radius: 50px;
  opacity: 0.6;
  box-shadow: #f8bfbf 0px 15px 25px, #ee8c8c 0px 5px 10px;
}

.left .hero-text form .invalid {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  display: none;
}

.left .hero-text form .email-status {
  display: block;
  margin-left: 1rem;
  margin-top: 0.5rem;
  line-height: 1.5;
}
